# =========================
# .NET
# =========================
**/bin/
**/obj/
.vs/
*.user
*.suo

# =========================
# Angular
# =========================
VehicleManagementSystem.AngularClient/node_modules/
VehicleManagementSystem.AngularClient/dist/
VehicleManagementSystem.AngularClient/.angular/

# =========================
# Environment files (optional)
# =========================
*.env

# =========================
# Database (optional - keep or remove depending on preference)
# =========================
# *.db

# =========================
# Logs
# =========================
*.log

# Extra Folders
/#123 Car PIcs
/#123 Notes