<div class="vehicle-container" [ngClass]="viewMode">
  <div class="vehicle-card" *ngFor="let vehicle of vehicles" [routerLink]="['/products', vehicle.id]">
    <img *ngIf="vehicle.imageUrl" [src]="'http://localhost:5248' + vehicle.imageUrl" alt="vehicle image" />
    <div class="vehicle-info">
      <h2 class="price"> Rs. {{ vehicle.price.toLocaleString() }} </h2>
      <h3 class="brand">
        {{ vehicle.brand }}
        <span>-</span>
        <span class="model"> {{ vehicle.model }} </span>
      </h3>
      <p class="time"> {{ vehicle.createdAt }} </p>
    </div>
  </div>
</div>