.title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: Lucida Sans;
}
section{
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-vehicle-list{
  flex: 1;
  min-width: 0;
}

/* Filter Styling */
.product-filter{
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.filters{
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  margin-top: 18px;
  position: sticky;
  top: 20px;
  & p{
    font-weight: 600;
  }
}
input{
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 12px;
  margin: 3px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}

/* Apply Filter Button */
button{
  width: 150px;
  padding: 8px;
  background: rgb(72, 72, 224);
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease,
              box-shadow 0.3s ease;
}
button:hover{
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}

/* Filter Double Input Alignemnt */
.year-input, .mileage-input, .price-input{
  display: flex;
  & input{
    width: 100px;
  }
}

/* Grid and Vert Buttons */
.view-buttons{
  display: flex;
  width: 100%;
  padding-right: 15px;
  justify-content: flex-end;
  gap: 10px;
}
#gridBtn, #vertBtn{
  background: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#gridBtn:hover, #vertBtn:hover{
  transform: translateY(-2px) scale(1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}