*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(187, 114, 114), rgb(162, 175, 229));
}