*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: white;
}
.navbar{
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
}

.logo{
  color: white;
  font-size: 28px;
  font-weight: bold;
}

nav{
  display: flex;
  gap: 30px;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover{
  color: #00bfff;
}

main{
  min-height: 80vh;
}

footer{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111;
  color: white;
  text-align: center;
}